@CHARSET "UTF-8";

html, body {
    width:100%;
    height:100%;
    margin:10;
    padding:0;
    overflow:hidden;
}

.appConfirmDialog {
    min-width:275px;
}
.appConfirmDialog .appDialogPaneButtons {
    text-align:center;
}

.appConfirmDialog .dijitDialogPaneContent {
    text-align:left;
    background: #eee;
}

.honor {
    width: 60px;
}

.name {
    width: 150px;
}

.coords {
   width: 100px;
}

.hidden {
    display: none;
}

.des {
    width: 400px;
}

.nameBox {
    background-color: #eee;
    padding: 5px;
    margin-bottom: 6px;
}

.labelsAndValues-labelCell {
    text-align: right;
  padding-left: 10px;
}

.dojoxUploaderFileListHeader th {
     background-color: #ccc;
}

.dojoxUploaderFileList {
    width: 80%;
}

.labelsAndValues-valueCell {
  padding-left: 5px;
}

.subHead {
    font-weight: bold;
    margin-bottom: 6px;
}
