@CHARSET "UTF-8";

.esriAttributeInspector .atiLayerName {display:none;}

.esriPopup.popSeep .titlePane, .dj_ie7 .esriPopup.popSeep .titlePane .title {
    background-image: url("/Seep/formSeepApp/images/grey_wash_wall.png");
  color:#f5f2f0;
  font-weight:700;
}

.esriPopup.popSeep .titlePane {
  border-bottom:1px solid #646235;
}

.esriPopup.popSeep a {
  color:#5F5400;
}

.esriPopup.popSeep .contentPane,
.esriPopup.popSeep .actionsPane {
  background-image: url("/Seep/formSeepApp/images/frenchstucco.png");
  color:#5F5400;
  border-color:0 solid #5F5400;
}

#photoList {
    display: hidden;
	background-image: url("/Seep/formSeepApp/images/ricepaper2.png");
	border:2px solid #5F5400;
}

#updatePhoto {
    display: hidden;
}

#addPhoto {
    display: block;
}

#imageTaken {
    display: block;
}

#imageViewClose {
    display: none;
}

#addButtons {
    display: block;
	background-image: url("/Seep/formSeepApp/images/frenchstucco.png");
}

#editButtons {
    display: hidden;
	background-image: url("/Seep/formSeepApp/images/frenchstucco.png");
	margin:0px;
}

.close {
	position: absolute;
	top: 5px;
	left: 194px;
    cursor: pointer;
    font-size: 0.85em;
}

.close2 {
	position: absolute;
	top: -5px;
	left: 90%;
    cursor: pointer;
    font-size: 0.85em;
}

.multipleFeature {
    text-align:center;
    visibility: hidden !important;
    font-size: 0.85em;
}

.buttons {
    text-align:center;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 0.85em;
}

.attributesubTitle {
    font-weight: bold;
    width: 50px;
}

.attributeBar{
    padding:5px;
    margin:0px;
	background-image: url("/Seep/formSeepApp/images/ricepaper2.png");
	border:2px solid #5F5400;
	z-index: 150;
}

.dojoxFloatingPaneTitle {
	background-image: url("/Seep/formSeepApp/images/old_moon.png");
	color: #5F5400;
	border:1px solid #5F5400;
    cursor: pointer;
    padding: 4px 4px 2px;
    white-space: nowrap;
}

.dojoxFloatingPaneContent {
	background-image: url("/Seep/formSeepApp/images/frenchstucco.png");
	color: #5F5400;
}

.infoBlock {
    padding: 3px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #646235;    
    margin: 4px;
    font-size: 0.85em;
}

.saveButton {
    padding-left:45px;
     margin:0px;width:16px; height:16px;
}

.appConfirmDialog {
	min-width:275px;
}
.appConfirmDialog .appDialogPaneButtons {
	text-align:center;
}

.claro .dijitDialogPaneContent {
	text-align:left;
	background: url("/Seep/formSeepApp/images/frenchstucco.png");
	color: #5F5400;
    overflow: visible;
}

#radio1 {
	display:block;
}

#radio2 {
	display:none;
}

#radio3 {
	display:block;
}

.honor {
	width: 60px;
}

.name {
	width: 150px;
}

.coords {
	width: 100px;
}

.hidden {
	display: none;
}

.des {
	width: 400px;
}

.nameBox {
	padding: 5px;
	margin-bottom: 6px;
	white-space: nowrap;
	width: 100%;
}

.labelsAndValues-labelCell {
	text-align: right;
	padding-left: 10px;
}

.dojoxUploaderFileListHeader th {
	background-image: url("/Seep/formSeepApp/images/noisy.png");
}

.dojoxUploaderFileList {
	width: auto;
	margin-right: 5px;
}

.labelsAndValues-valueCell {
	padding-left: 5px;
}

.claro .dijitDialogUnderlay {
	background: #000000;
}

#loadstatus {
	color: red;
}

.subHead {
	font-weight: bold;
	margin-bottom: 6px;
}

.viewerFrame {
	width: 480px;
	height: 360px;
	background-color: #606564;
}
.drawing-block {
	vertical-align: top;
	display: inline-block;
	margin-left: 10px;
}
.editing-block {
	vertical-align: top;
	margin-left: 10px;
}
#editing-block {
	display: none;
}
#drawing-mode {
	margin-bottom: 10px;
	vertical-align: top;
}
#drawing-mode-options {
	display: none;
	vertical-align: top;
	margin-bottom: 10px;
	margin-top: 10px;
	background: url("/Seep/formSeepApp/images/ricepaper2.png");
	padding: 10px;
}
#c {
	border:1px solid #aaa;
	width: 480px;
	height: 360px;
}
.canvas-container { 
	border: 1px dotted #ccc; 
	display: none;
	vertical-align: top; 
	z-index: 1500;
	position: absolute !important;
	top: 11px;
	left: 9px;
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
}
.btn {
	font-size: 11px;
	margin-left: 15px; 
	display: block;
}
#colorPicked {
	width: 40px;
	height: 30px;
	background-color:#000000;
	border:1px solid black;
	display: inline-block;
}
.option-label {
	width: 40%;
}
#hslider {
	width: 50%;
	display:inline-block;
}
.btn-drop {
	font-size: 11px;
	margin-left: 15px; 
	display:inline-block;
}
.textarea {
	width: 300px;
	resize: vertical;
}
#instructions {
	display: block;
}
.firstName {
	width:100px;
}
.middleName {
	width: 50px !important;
}
.lastName {
	width: 100px !important;
}
#namer_1 {
    width: 70%;
}
.nameContainer {
	background-image: url("/Seep/formSeepApp/images/ricepaper2.png");
	border:1px solid #ccc;
	padding: 3px;
}
#widget_dateMain {
	width: 120px;
}
.dateBox {
	width: 120px;
}
.buttons {
	text-align: center;
}
.dynaList {
	vertical-align: top;
}
#locationAccuracy {
	display: none;
}
#radioList .tableContainer-labelCell {
	width: 200px !important;
}
#radioChoice1 .tableContainer-labelCell {
	width: 10px !important;
}

.tabClass {
	background-image: url("/Seep/formSeepApp/images/frenchstucco.png");
}

.namer {
	background-image: url("/Seep/formSeepApp/images/old_moon.png");
	color: #5F5400;
	border:1px solid #5F5400;
}
